{% extends 'doctor/base.html' %}
{% load staticfiles %}
{% block content-block %}
    <body>
        <form method="post" action="{% url 'insert-into-requisitionmedicine-view' %}" class="form-custom">
            {% csrf_token %}
            <div class="form-group">
                <label for="med-id">Medicine ID</label>
                <select id="med-id" name="med-id" class="form-control">
                    {% for i in meds %}
                        <option value={{ i.medicine_id }}>{{ i.medicine_id }} | {{ i.medicine_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="req-id">Requisition ID</label>
                <select id="req-id" name="req-id" class="form-control" required>
                    {% for i in req_ids %}
                        <option value={{ i }}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="qty-requested">Quantity Requested</label>
                <input id="qty-requested" class="form-control" name="qty-requested" placeholder="Enter quantity requested" type="number" step="1" required>
            </div>
            <div class="form-group">
                <label for="qty-received">Quantity Received</label>
                <input id="qty-received" class="form-control" name="qty-received" placeholder="Enter quantity received" type="number" step="1" required>
            </div>
            <div class="form-group">
                <input class="btn btn-success" name="submit" type="submit" value="Submit">
            </div>
        </form>
    </body>

{% endblock %}