{% extends 'doctor/base.html' %}
{% load static %}
{% block content-block %}
    <body>
            {% include 'doctor/header.html' %}
            <div class="div-1">
                   
                            {% include 'doctor/nav.html' %}
        
            </div>
            <div class="main-content">
            <form method="post" action="{% url 'insert-into-requisition-view' %}" class="form-custom">
            {% csrf_token %}
            <div class="form-group">
                <label for="req-id">Requisition ID</label>
                {% if data %}
                    <input id="req-id" class="form-control" name="req-id" maxlength=20 type="text" value="{{ data.requisition_id }}" required readonly>
                {% else %}
                    <input id="req-id" class="form-control" name="req-id" maxlength=20 type="text" required>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="date-of-order">Date of Order</label>
                {% if data %}
                    <input id="date-of-order" class="form-control" name="date-of-order" type="date" value="{{ data.date_of_order|date:'Y-m-d'}}" required>
                {% else %}
                    <input id="date-of-order" class="form-control" name="date-of-order" type="date" value={% now "Y-m-d" %} required>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="amt">Amount (upto 2 decimal places)</label>

                {% if data %}
                    <input id="amt" value="{{ data.amount }}" class="form-control" name="amt" type="number" step="0.01" min="0" max="99999.99" required>
                {% else %}
                    <input id="amt"  class="form-control" name="amt" type="number" step="0.01" min="0" max="99999.99" required>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="date-of-approval">Date of Approval</label>
                {% if data %}
                    <input id="date-of-approval" class="form-control" name="date-of-approval" type="date" value="{{ data.date_of_approval|date:'Y-m-d' }}" required>

                {% else %}
                    <input id="date-of-approval" class="form-control" name="date-of-approval" type="date" value={% now "Y-m-d" %} required>
                {% endif %}

            </div>

            <div class="form-group">
                <label for="memo">Memo</label>
                {% if data %}
                    <textarea id="memo" name="memo" class="form-control" required>{{ data.memo }}</textarea>
                {% else %}
                    <textarea id="memo" name="memo" class="form-control" required></textarea>
                {% endif %}

            </div>
            {% if data %}
                <input value="0" name="create" hidden>
            {% else %}
                <input value="1" name="create" hidden>
            {% endif %}

            <div class="form-group">
                <input class="btn btn-success" name="submit" type="submit" value="Submit">
            </div>

            </form>
            </div>
        {% include 'doctor/footer.html' %}
    </body>

{% endblock %}