{% extends 'doctor/base.html' %}
{% load static %}
{% block content-block %}
    <body>
        {% include 'doctor/header.html' %}
        <div class="div-1">
            {% include 'doctor/nav.html' %}
        </div>
        <div class="main-content">
        <h1 style="text-align: center;"><u>Add New Stock</u> </h1>
        <form method="post" action="{% url 'insert-into-stock-view' %}" class="form-custom">
            {% csrf_token %}
            <div class="form-group">
                <label for="batch-number">Batch No.</label>
                <input id="batch-number" class="form-control" name="batch-number" maxlength=50 type="text" required>
            </div>
            <div class="form-group">
                <label for="bill-number">Bill No.</label>
                <input id="bill-number" class="form-control" name="bill-number" type="text" maxlength="50" required>
            </div>

            <div class="form-group">
                <label for="bill-date">Bill date</label>
                <input id="bill-date" class="form-control" name="bill-date" type="date" required>
            </div>

            <div class="form-group">
                <label for="firm-id">Firm ID</label>
                <select id="firm-id" class="form-control" name="firm-id" required>
                    {% for i in data %}
                        <option value="{{ i.firm_id }}">{{ i.firm_name }}</option>
                    {% endfor %}
                </select>
            </div>


            <div class="form-group">
                <input class="btn btn-success" name="submit" type="submit" value="Submit">
                <a class="btn btn-danger" href="{% url 'doctor-home-view' %}">Cancel</a>
            </div>

        </form>
        </div>
        {% include 'doctor/footer.html' %}
    </body>

{% endblock %}