{% extends 'doctor/base.html' %}
{% load static %}
{% block content-block %}
    <body>
        {% include 'doctor/header.html' %}
        <div class="div-1">

                        {% include 'doctor/nav.html' %}

        </div>
        <div class="main-content">
        <h1 style="text-align: center;"><u>Add Medicines into Stock</u> </h1>
        <form method="post" action="{% url 'insert-into-stockmedicine-view' %}" class="form-custom">
            {% csrf_token %}
            <div class="form-group">
                <label for="batch-no">Batch No.</label>
                <select id="batch-no" class="form-control" name="batch-no" required>
                    {% for i in batch_no %}
                        <option value="{{ i.batch_no }}">{{ i.batch_no }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="med-id">Medicine</label>
                <select id="med-id" class="form-control" name="med-id" required>
                    {% for i in meds %}
                        <option value="{{ i.medicine_id }}">{{ i.medicine_name }} | {{ i.medicine_id }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="qty">Quantity</label>
                <input id="qty" class="form-control" name="qty" max="99999999999" min="0" type="number" required>
            </div>
            <div class="form-group">
                <label for="expiry-date">Expiry Date</label>
                <input id="expiry-date" class="form-control" name="expiry-date" type="date" required>
            </div>

            <div class="form-group">
                <label for="medicine-rate">Medicine rate</label>
                <input id="medicine-rate" class="form-control" name="medicine-rate" type="number" step="0.01" max="99999.99" required>
            </div>


            <div class="form-group">
                <input class="btn btn-success" name="submit" type="submit" value="Add">
                <a class="btn btn-danger" href="{% url 'doctor-home-view' %}">Cancel</a>
            </div>

        </form>
        </div>
        {% include 'doctor/footer.html' %}
    </body>

{% endblock %}