{% extends 'doctor/base.html' %}
{% load staticfiles %}

{% block content-block %}
<body class="body">
    {% include 'doctor/header.html' %}
    <h1>Empanelled Firms</h1>
    <a href="{% url 'add-firm-view' %}" class="btn btn-secondary">Add New Firm</a>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

            {% for i in data  %}
            <tr>
                <td>{{ i.id}}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.phone }}</td>
                <td> <a href="{% url 'edit-firm-view' i.id %}">Edit</a></td>
                <td> <a href="{% url 'add-firm-view' %}">Delete</a></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    <a href="{% url 'doctor-home-view' %}" class="btn btn-secondary">Home</a>
</body>
{% endblock content-block %}
