{% load static %}
<header class="header">
        <div class="header-content-left">
         <img src="{% static 'doctor/images/nitslogo.png' %}" alt="nitslogo" class="logo-header">
        </div>
        <div class="heading">
            <h4>HEALTH CENTER, NIT SILCHAR</h4>
            <h4>स्वास्थ्य केंद्र, एन.आई.टी. सिलचर</h4>
        </div>
       
     <div class="header-content-right">
          <ul>
              <li>
                  <p style="padding:10px;background: red;color: white;">Ambulance : 96787 80002</p>
              </li>
              <li>
                  <i class="material-icons">home</i>
                  <a href="{% url 'index-view' %}" class="link-style">Home</a>
              </li>
              <li>
                  <i class="material-icons">account_box</i>
                  <a href="{% url 'login-view' %}" class="link-style">Login</a>
              </li>

              
          </ul>
     </div>
</header>