{% extends 'doctor/base.html' %}
{% load staticfiles %}

{% block content-block %}
    <body class="body">
        <p>User shayad login ho geya..balle balle</p>
        <a class="btn btn-primary" href="{% url 'display-staff-view' %}">Health Center Staff</a>
        <a class="btn btn-primary" href="{% url 'display-requisitionmedicine-view' %}">Requisition Medicine</a>
        <a class="btn btn-primary" href="{% url 'add-requisitionmedicine-view' %}">Add Requisition Medicine</a>
        <a href="{% url 'logout-view'  %}">Logout</a>
    </body>
{% endblock content-block %}
    