{% extends 'doctor/base.html' %}
{% load staticfiles %}

{% block content-block %}
<body class="body">
    {% include 'doctor/header.html' %}
    <div class="text text-center">
        <p class="alert alert-success">
            {% if request.user.first_name or request.user.last_name %}
                {{ request.user.first_name }} {{ request.user.last_name }}
                <br>
            {% endif %}

            Userid : {{ request.user }}

        </p>
        <a class="btn btn-custom" href="{% url 'display-mypatients-view' %}">View My Patients</a>
        <a class="btn btn-custom" href="{% url 'display-staff-view' %}">Health Center Staff</a>
        <a class="btn btn-custom" href="{% url 'display-firm-view' %}">Empanelled Firms</a>
        <a class="btn btn-custom" href="{% url 'display-medicine' %}">Medicine Stock</a>
        <a class="btn btn-custom" href="{% url 'display-requisitionmedicine-view' %}">Requisition Medicine</a>
        <a class="btn btn-custom" href="{% url 'display-requisition-view' %}">Requisitions</a>
        <a class="btn btn-custom" href="{% url 'display-doctorrequisitionproposal-view' %}">Requisition proposals</a>
        <a href="{% url 'add-stock-view' %}" class="btn btn-custom">Add new Stock</a>
        <a href="{% url 'add-stockmedicine-view' %}" class="btn btn-custom">Add medicines into Stock</a>
        <br>
        <br>
        <a class="btn btn-danger" href="{% url 'logout-view'  %}">Logout</a>
    </div>
    {% include 'doctor/footer.html' %}
</body>
{% endblock %}
