{% extends 'doctor/base.html' %}
{% load static %}

{% block content-block %}
<body class="body">
   <!-----------------------------------header Section---------------------------------------->
    {% include 'doctor/header.html' %}
    <!-------------------------------- Main section------------------------------------------->
    <main>

    </main>
    <div style="clear: both;"></div>

    <!---------------------------------Footer Section----------------------------------------->
    {% include 'doctor/footer.html' %}
          
</body>
<!-- </html> -->
{% endblock %}