{% extends 'doctor/base.html' %}
{%  load staticfiles %}

{% block content-block %}

    <body class="body">
        {% include 'doctor/header.html' %}
         <div class="text text-center">
            <p class="alert alert-success">
                {% if request.user.first_name or request.user.last_name %}
                    {{ request.user.first_name }} {{ request.user.last_name }}
                    <br>
                {% endif %}
                Userid : {{ request.user }}
            </p>
            <a class="btn btn-custom" href="{% url 'add-prescription-view' id %}">Add New Prescription</a>
        </div>

        <div>
            {% for i in data %}
            Name: {{ i.patient_id }}
            <br>
            Height: {{ i.height }}
            <br>
            Weight: {{ i.weight }}
            <br>
            Dependent Status: {{ i.isDependant }}
            <br>
            Date of Registration: {{ i.date_created }}
            <br><br>
            {% endfor %}
        </div>
        <div>
            <h3>Prescriptions</h3>
            <div>
                <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Prescription Id</th>
                        <th>Date of Issue</th>
                        <th>Complaint</th>
                        <th>Diagnosis</th>
                        <th>Follow-up Date</th>
                        <th>Medicines Prescribed</th>
                        <th>Tests Recommended</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in presData  %}
                            <tr>
                            <td>{{ i.prescription_serial_no }}</td>
                            <td>{{ i.date_of_issue }}</td>
                            <td>{{ i.complaint }}</td>
                            <td>{{ i.diagnosis }}</td>
                            <td>{{ i.followup_date }}</td>
                            <td>{{ i.medicine_prescribed }}</td>
                            <td>{{ i.tests_recommended }}</td>
                            <td><a href="{% url "display-prescription-view" i.prescription_serial_no %}">View</a></td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
            </div>
        </div>

    </body>

{% endblock %}
