{% extends 'doctor/base.html' %}
{% load staticfiles %}

{% block content-block %}
    <body class="body">
    {% include 'doctor/header.html' %}
    <div class="div-1">

        {% include 'doctor/nav.html' %}

    </div>
    <h1 style="text-align: center;"><u>My Patients</u> </h1>
    <div class="div2">
          <table class="table table-striped">
                  <thead class="thead-dark">
                      <tr>
                          <th>Name</th>
                          <th>Complaint</th>
                          <th>Diagnosis</th>
                          <th>Dependent Status</th>
                          <th>Recommended Test</th>
                           <th>Test Result</th>
                          <th>Follow-up Date</th>
                      </tr>
                  </thead>
                  <tbody>

                      {% for i in data  %}
                          <tr>
                              <td>{{ i.patient_id }}</td>
                              <td>{{ i.complaint }}</td>
                              <td>{{ i.daignosis }}</td>
                              <td>{{ i.isDependant }}</td>
                              <td>{{ i.testRecommended }}</td>
                              <td>{{ i.test_result }}</td>
                              <td>{{ i.follow_up_date }}</td>
    {#                                                  <td>View</td>#}
                          </tr>
                      {% endfor %}

                  </tbody>
          </table>
          {% if isDoc %}
              <a href="{% url 'add-newpatient-view' %}" class="btn btn-custom">Add New Patient</a>
          {% endif %}
          <a href="{% url 'doctor-home-view' %}" class="btn btn-custom">Home</a>
    </div>
    {% include 'doctor/footer.html' %}
    </body>
{% endblock content-block %}
