{% extends 'doctor/base.html' %}id
{% load static %}
{% block style-block %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/d3js/5.15.0/d3.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" integrity="sha256-EH/CzgoJbNED+gZgymswsIOrM9XhIbdSJ6Hwro09WE4=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js" integrity="sha256-c4gVE6fn+JRKMRvqjoDp+tlG4laudNYrXI1GncbfAYY=" crossorigin="anonymous"></script>
    <style type="text/css">
        select{
            width: 25%;
        }
    </style>
{% endblock %}
{% block content-block %}

{% include 'doctor/header.html' %}

    <body>
        <div class="div-1">
            {% include 'doctor/nav.html' %}
        </div>
        <div class="main-content">
        {% if data%}
            <h1>Edit Prescription</h1>
        {% else %}
            <h1>Add New Prescription</h1>
        {% endif %}
        <form method="post" action="{% url 'insert-into-newpresc-view' %}" class="form-custom">
            {% csrf_token %}

            <div class="form-group">
                <label for="date-of-issue">Date of Issue</label>
                <input id="date-of-issue" class="form-control" name="date-of-issue" type="date" value={% now "Y-m-d" %} required>
            </div>

            <div class="form-group">
                <label for="type_of_patient">Type of patient : </label>
                <select class="chosen-container chosen-container-single" id="type_of_patient" name="type_of_patient" required>
                    <option value="">--Select--</option>
                    <option value="stud">Student</option>
                    <option value="teach">Teacher</option>
                </select>

                <label for="id_of_patient" id="label_for_id">Select type : </label>
                <select class="chosen" id="id_of_patient" name="id_of_patient" required>
                    <option value="">--Select--</option>
                </select>

            </div>

            <div class="form-group">
                <label for="hostel">Hostel</label>
                <input id="hostel" class="form-control" name="hostel" type="text">
            </div>


            <div class="form-group">
                <label for="complaint">Complaint</label>
                <input id="complaint" class="form-control" name="complaint" required type="text">
            </div>


            <div class="form-group">
                <label for="diagnosis">Diagnosis</label>
                <input id="diagnosis" class="form-control" name="diagnosis" required type="text">
            </div>


            <div class="form-group">
                <h5>Add Medicines</h5>
                <button type="button" id="add-med-btn" class="btn btn-warning">Add</button>
                <div id="meds-in-presc-div">

                </div>
                <input id="no_of_meds_in_presc" type="number" step="1" hidden name="no_of_meds_in_presc" value="0">
            </div>


            <div class="form-group">
                <input class="btn btn-success" name="submit" type="submit" value="Submit">
            </div>

        </form>
        </div>
        {% include 'doctor/footer.html' %}

        <script type="text/javascript">
            $('.chosen').chosen();
           $(document).on('change','#type_of_patient',function (e) {
               typ=$('#type_of_patient').val();
               if(typ=='stud' || typ=='teach'){
                   if(typ=='stud') $('#label_for_id').text("Scholar ID : ");
                   else $('#label_for_id').text("Name of teacher : ");
                   $.ajax({
                       type: 'GET',
                       url: '{% url "stud-teach-select" %}',
                       dataType:'json',
                       async: true,
                       data:{
                           type_of_patient:typ
                       },
                       success:function (resp) {
                           ajaxResponseHandler(resp,typ);
                       }
                   });

               }
               else{
                   $('#id_of_patient').empty().append($('<option></option>').attr('value',"").text("--Select--"));
                   $('#label_for_id').text("Select type : ");
               }
           });
           function ajaxResponseHandler(json,typ){
               console.log(json)
               var $el=$('#id_of_patient');
               $el.empty();
               $.each(json,function (k,v) {
                   {#$el.append($('<option></option>').attr('value',k).text(v));#}
                   if(typ=='stud') $el.append($('<option></option>').attr('value',k).text(k+" ("+v+")"));
                   else if (typ=='teach') $el.append($('<option></option>').attr('value',k).text(v));
               });
               $('.chosen').trigger('chosen:updated');
           }
        </script>
        <script type="text/javascript">
            var $i=0;
            $(document).on('click','#add-med-btn',function (e) {
                $i++;
                var $el=$('#meds-in-presc-div');
                $el.append(
                    getTextToAppend($i)
                );
                var $select_id="med"+$i;
                $('#no_of_meds_in_presc').attr('value',$i);
                populateOptions($select_id);

            });

            function getTextToAppend(value){
                return '<div id="meddivs'+value+'">'+
                    '<select name='+'"med'+value+'"id="med'+value+'" class="chosen med-selects" required><option value="">--Select Medicine--</option></select>'+
                    '<input id="qty'+value+'" type="number" name='+'"qty'+value+'" placeholder="Qty" class="chosen-container chosen-container-single quantity-container" required>'+
                    '<input id="dose'+value+'" type="text" name='+'"dose'+value+'" placeholder="Dose" class="chosen-container chosen-container-single" required>'+
                    '<button id="addMedBtn'+value+'" type="button" class="btn btn-danger remove-med-btn">X</button>'+
                    '</div>'
            }

            $(document).on('click','.remove-med-btn',function (e) {
                var $el_id=$(this).parent().attr('id');
                var $no=parseInt($el_id.replace('meddivs',''));
                var $num=$no;
                var $el_to_remove=$('#'+$el_id);
                $el_to_remove.remove();
                var $val=1;
                for(var $j=1;$j<=$i;$j++){
                    if($j==$num) continue;
                    $('#meddivs'+$j).attr('id','meddivs'+$val);
                    $('#med'+$j).attr('name','med'+$val).attr('id','med'+$val);
                    $('#qty'+$j).attr('name','qty'+$val).attr('id','qty'+$val);
                    $('#dose'+$j).attr('name','dose'+$val).attr('id','dose'+$val);
                    $('#addMedBtn'+$j).attr('id','addMedBtn'+$val);
                    $val++;

                }
                $i--;
                $('#no_of_meds_in_presc').attr('value',$i);
            });

            function populateOptions(id) {
                $.ajax({
                    type:'GET',
                    url:'{% url "med-select" %}',
                    async:true,
                    dataType: 'json',
                    data:{
                        'id':id
                    },
                    success:function (resp) {
                        medSelectResponsehandler(resp,id);
                    }
                });
            }
            function medSelectResponsehandler(json,id){
               var $elm=$('#'+id);
               $elm.empty();
               $elm.append($('<option></option>').attr('value',"").text("--Select Medicine--"));
               $.each(json,function (k,v) {
                   $elm.append($('<option></option>').attr('value',k).text(v));
               });
               $('.chosen').chosen();
           }
        </script>

    </body>

{% endblock %}
