{% extends 'doctor/base.html' %}
{% load static %}

{% block content-block %}
    <body class="body">
        {% include 'doctor/header.html' %}

        <div class="div-1">
            {% include 'doctor/nav.html' %}
        </div>

        <div class="text text-center">
                <form method="get" action="{% url 'get-req' %}">
                    <select name="p_no">
                        {% for i in p_nos %}
                            <option name="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="View" class="btn btn-primary">
                </form>
        </div>

        <div class="main-content">
            <h3>{{ name}}</h3>
            Date of Issue: {{ data.date_of_issue }}<br>
            Complaint: {{ data.complaint }}<br>
            Diagnosis: {{ data.diagnosis }}<br>
            <hr>


           <br>
            <h3>Medicines Prescribed</h3><br>
            <div>
            <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Medicine</th>
                    <th>Quantity</th>
                    <th>Issue</th>
                </tr>
            </thead>
            <tbody>
                {% for i in meds_pres  %}
                        <tr>
                        <td>{{ i.medicine_id }}</td>
                        <td>{{ i.medicine_quantity }}</td>
                        {% if i.issue_status == 0 %}
                        <td><a href="{% url 'issue-medicine-view' i.prescription_serial_no_id i.id %}">Issue</a></td>
                        {% else %}
                            <td>Issued</td>





                            {% endif %}
                        </tr>
                {% endfor %}

            </tbody>
        </table>
        </div>
            <a href="{% url 'doctor-home-view' %}" class="btn btn-custom">Home</a>
        </div>

        {% include 'doctor/footer.html' %}
    </body>
{% endblock content-block %}
