{% extends 'doctor/base.html' %}
{% load static %}
{% load extra_tag %}

{% block content-block %}
    <body class="body">
        {% include 'doctor/header.html' %}
        <div class="div-1">
            {% include 'doctor/nav.html' %}
        </div>
        <div class="main-content">
        <h1 style="text-align: center;"><u>Requisitions</u> </h1>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Requisition ID</th>
                    <th>Date of Order</th>
                    <th>Amount</th>
                    <th>Date of Approval</th>
                    <th>Memo</th>
                    <th>View</th>
                    {% if request.user|inGroup:'pharmacist' or request.user|inGroup:'approval_committee' %}
                        <th>Edit</th>
                        <th>Delete</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                
                {% for i in data  %}
                    <tr>
                        <td>{{ i.requisition_id }}</td>
                        <td>{{ i.date_of_order }}</td>
                        <td>{{ i.amount }}</td>
                        <td>{{ i.date_of_approval }}</td>
                        <td>{{ i.memo }}</td>
                        <td><a href="{% url 'display-requisitionmedicine-view' i.requisition_id %}">View</a> </td>
                        {% if request.user|inGroup:'pharmacist' or request.user|inGroup:'approval_committee' %}
                            <td> <a href="{% url 'edit-requisition-view' i.requisition_id %}">Edit</a></td>
                            <td> <a href="{% url 'delete-requisition-view' i.requisition_id %}">Delete</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                    
            </tbody>
        </table>
        {% if request.user|inGroup:'pharmacist' %}
            <a href="{% url 'add-requisition-view' %}" class="btn btn-custom">Add requisition</a>
        {% endif %}
        {% if request.user|inGroup:'approval_committee' %}
            <a class="btn btn-custom" href="{% url 'add-requisitionmedicine-view' %}">Add Requisition Medicine</a>
        {% endif %}
        <a href="{% url 'doctor-home-view' %}" class="btn btn-custom">Home</a>
        </div>
        {% include 'doctor/footer.html' %}
    </body>
{% endblock content-block %}
    