{% extends 'doctor/base.html' %}
{% load staticfiles %}

{% block content-block %}
    <body class="body">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Staff</th>
                    <th>Medicine</th>
                    <th>Requisition ID</th>
                    <th>Quantity</th>
                    <th>Edit</th>
                    <th>Delete</th>

                </tr>
            </thead>
            <tbody>

                {% for i in data  %}
                    <tr>
                        <td>{{ i.doctor_id }}</td>
                        <td>{{ i.medicine_id }}</td>
                        <td>{{ i.requisition_id }}</td>
                        <td>{{ i.quantity }}</td>
                        <td> <a href="{% url 'edit-requisitionproposal-view' i.pk %}">Edit</a></td>
                        <td> <a href="{% url 'delete-requisitionproposal-view' i.pk %}">Delete</a></td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
        <a href="{% url 'add-requisitionproposal-view' %}" class="btn btn-custom">Add Requisition Proposal</a>
        <a href="{% url 'doctor-home-view' %}" class="btn btn-custom">Home</a>
    </body>
{% endblock content-block %}
