{% extends 'doctor/base.html' %}
{% load static %}
{% load extra_tag %}

{% block style-block %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}
{% block content-block %}
<body class="body">
    {% include 'doctor/header.html' %}
    <div class="div-1">
                   
            {% include 'doctor/nav.html' %}

    </div>
    <div class="main-content">
        {% if data %}
            <form action="#">
                <input type="text" name='search' placeholder="search"/>
                <button id="dateFilterToggle">Apply date fliter</button>
                <div id="dateInputs">
                    <label for="dateFrom">starting date:</label>
                    <input type="date" name="dateFrom" id='dateFrom'/>
                    <label for="dateTo">ending date:</label>
                    <input type="date" name="dateTo" id='dateTo'/>
                </div>
                <input type="submit" value="search"/>
            </form>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Overall Presc. No.</th>
                        <th>Doctor Presc. No.</th>
                        <th>Patient Type</th>
                        <th>Patient ID</th>
                        <th>View</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                        <tr>
                            <td>{{ i.p_id }}</td>
                            <td>{{ i.p_id_doctor }}</td>
                            <td>{{ i.patient_type }}</td>
                            <td>{{ i.patient_id | safe}}</td>
                            <td><a class="btn btn-link" href="{% url 'display-and-edit-presc-view' i.p_id %}">View</a></td>
                            <td><button class="btn btn-link delete-btn-custom" value={{ i.p_id }}>Delete</button></td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You have not written any prescriptions yet</p>
        {% endif %}
    </div>
    {% include 'doctor/footer.html' %}
    <script type="text/javascript">
        $(document).on('click','.delete-btn-custom',function (e) {
            var $resp=confirm("Delete Prescription?");
            if($resp==true){
                var $val=$(this).attr('value');
                window.location.href='deletePresc/'+$val;
            }
        });
        const toggleButton=document.getElementById('dateFilterToggle');
        const dateInputs=document.getElementById('dateInputs');
        const x=dateInputs.style;
        x.display='none';
        // x.width="300px";
        toggleButton.addEventListener('click',(e)=>{
            e.preventDefault();
            if(x.display=="inline"){
                x.display="none";
                document.getElementById('dateFrom').value='';
                document.getElementById('dateTo').value='';
                toggleButton.textContent="Apply date filter";
            }
            else{
                x.display="inline";
                toggleButton.textContent="Remove date filter";
            }

        })

    </script>
</body>
{% endblock content-block %}